body, html {
    height: 100vh;
    font-family: monospace;
    margin: 0px;
}

h1 {
  text-align: center;
  font-size: 4em;
  margin-top: 0px;
  padding-top: 20px;
}

#calculator-container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "display"
        "button-area";
    width: 400px;
    height: 500px;
    border: solid 1px grey;
    border-radius: 2px;
    /* padding: 10px; */
    margin: 0 auto;
}

#display {
    grid-area: display;
    font-family: monospace;
    background-color: rgb(255, 255, 255);
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    font-size: 5em;
    text-align: right;
}

#button-container {
    grid-area: button-area;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(211, 211, 211);
    grid-gap: 1px;
    border-top: solid 1px grey;
}

/* #clear {
  grid-column-start: 2;
  grid-column-end: 3;
} */

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

.operators,  button#equals:focus {
  background-color: rgb(32, 144, 214);
  color: white;
}

button {
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 3em;
    border: none;
    text-align: center;
    text-decoration: none;
    transition-duration: 2.05;
    font-family: monospace;
}

button:focus {
  outline: none;
}

button:hover {
  opacity: 0.8;
  outline: none;
}

button.numbers:active, button#clear:active, button#sign:active, .number-click {
  background-color: rgb(211, 211, 211);
  transition-duration: 2.05;
}

button#backspace {
  /* color: rgb(138, 138, 138); */
  color: black;
  background-color: rgb(255, 169, 169);
  font-size: 4em;
}

button#backspace:hover {
  opacity: 1;
   background-color: rgb(235, 137, 137);
}

button#backspace:active, button#backspace.backspace-click {
  background-color: rgb(212, 115, 115);
}

button.operators:active, button.operators:focus, button#equals:active, .operator-click, button#equals.operator-click {
  background-color: rgb(89, 185, 245);
}